* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1rem;
    z-index: 1;
}

.header {
    font-size: 4rem;
    font-weight: bold;

}

.btnCon {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.playBtn,
.playAIBtn,
.submit {
    padding: 8px 32px;
    background-color: darkseagreen;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    max-height: 4rem;
}

.playBtn:hover,
.submit:hover {
    cursor: pointer;
}

.playAIBtn {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playAIBtn:hover {
    cursor: not-allowed;
}

.main-text {
    font-size: 1.5rem;
}

.subtext {
    font-size: .75rem;
}

.input-con {
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;

    gap: 2rem;
}

.input-header {
    font-size: 5rem;
}

.names {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
}

.gameSpace {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.playerDisplay {
    height: 3rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;

    font-size: 32px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    width: auto;
    z-index: 2;
    cursor: pointer;
}

.tile {
    height: 8rem;
    width: 8rem;
    background-color:seagreen;
    border: 2px solid gray;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 11rem;
    color: white;
}

.pScore {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.hidden {
    display: none;
    max-height: none;
}

.highlight {
    background-color: rgba(46, 139, 87, 0.582);
}